:host{
    background-image: url(cruzamento.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
    padding: 24px 10px;

    pointer-events: all;
    user-select: all;
  } 
  
  button.editar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: transparent;
    border: none;
   
  }

  .controles{
    position: absolute;
    z-index: 100;
    left: 10px;
    top: 10px;
  }
