:host{
    background-image: url(cruzamento.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 24px 10px;
}

.semaforo{
    width: 20px;
    height: 40px;
    background-color: grey;
        
}